<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.card.zh.mapper.AttachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.card.zh.entity.Attach">
        <id column="id" property="id"/>
        <result column="attach_name" property="attachName"/>
        <result column="attach_url" property="attachUrl"/>
        <result column="attach_type" property="attachType"/>
        <result column="dominant_id" property="dominantId"/>
    </resultMap>

</mapper>
