<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.card.zh.mapper.TempMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.card.zh.entity.Temp">
    <id column="aa" property="aa"/>
    <result column="bb" property="bb"/>
    <result column="zhang_gq" property="zhangGq"/>
  </resultMap>

  <select id="queryBy" resultMap="BaseResultMap" parameterType="string">
    select * from temp where aa = #{aa, jdbcType= VARCHAR}
  </select>

</mapper>
