<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.zh.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.card.zh.entity.UserInfo">
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="wechat_number" property="wechatNumber" jdbcType="VARCHAR"/>
        <result column="qq_number" property="qqNumber" jdbcType="VARCHAR"/>
        <result column="head_sculpture" property="headSculpture" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_phone" property="companyPhone" jdbcType="VARCHAR"/>
        <result column="company_fax" property="companyFax" jdbcType="VARCHAR"/>
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR"/>
        <result column="company_job_name" property="companyJobName" jdbcType="VARCHAR"/>
        <result column="company_internet_address" property="companyInternetAddress" jdbcType="VARCHAR"/>
        <result column="bgsound" property="bgsound" jdbcType="VARCHAR"/>
        <result column="company_business" property="companyBusiness" jdbcType="VARCHAR"/>
        <result column="company_supply" property="companySupply" jdbcType="VARCHAR"/>
        <result column="company_demand" property="companyDemand" jdbcType="VARCHAR"/>
        <result column="company_map_place" property="companyMapPlace" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bank_user_name" property="bankUserName" jdbcType="VARCHAR"/>
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR"/>
        <result column="wechat_qr_code" property="wechatQrCode" jdbcType="VARCHAR"/>
        <result column="qq_qr_code" property="qqQrCode" jdbcType="VARCHAR"/>
        <result column="page_style" property="pageStyle" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, account, nick_name, sex, phone, email, password, wechat_number, qq_number,
    head_sculpture, company_name, company_phone, company_fax, company_address, company_job_name,
    company_internet_address, bgsound, company_business, company_supply, company_demand,
    company_map_place, bank_name, bank_user_name, bank_account, account_status, page_style,qq_qr_code, wechat_qr_code
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.card.zh.entity.UserInfo">
        insert into user_info (id, user_name, account,
      nick_name, sex, phone,
      email, password, wechat_number,
      qq_number, head_sculpture, company_name,
      company_phone, company_fax, company_address,
      company_job_name, company_internet_address,
      bgsound, company_business, company_supply,
      company_demand, company_map_place, bank_name,
      bank_user_name, bank_account, account_status,
      wechat_qr_code, qq_qr_code, page_style)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{wechatNumber,jdbcType=VARCHAR},
      #{qqNumber,jdbcType=VARCHAR}, #{headSculpture,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
      #{companyPhone,jdbcType=VARCHAR}, #{companyFax,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR},
      #{companyJobName,jdbcType=VARCHAR}, #{companyInternetAddress,jdbcType=VARCHAR},
      #{bgsound,jdbcType=VARCHAR}, #{companyBusiness,jdbcType=VARCHAR}, #{companySupply,jdbcType=VARCHAR},
      #{companyDemand,jdbcType=VARCHAR}, #{companyMapPlace,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR},
      #{bankUserName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{accountStatus,jdbcType=VARCHAR},
      #{wechatQrCode,jdbcType=LONGVARBINARY}, #{qqQrCode,jdbcType=LONGVARBINARY}, #{pageStyle,jdbcType=VARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.card.zh.entity.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="wechatNumber != null">
                wechat_number,
            </if>
            <if test="qqNumber != null">
                qq_number,
            </if>
            <if test="headSculpture != null">
                head_sculpture,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyPhone != null">
                company_phone,
            </if>
            <if test="companyFax != null">
                company_fax,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="companyJobName != null">
                company_job_name,
            </if>
            <if test="companyInternetAddress != null">
                company_internet_address,
            </if>
            <if test="bgsound != null">
                bgsound,
            </if>
            <if test="companyBusiness != null">
                company_business,
            </if>
            <if test="companySupply != null">
                company_supply,
            </if>
            <if test="companyDemand != null">
                company_demand,
            </if>
            <if test="companyMapPlace != null">
                company_map_place,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="bankUserName != null">
                bank_user_name,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="accountStatus != null">
                account_status,
            </if>
            <if test="wechatQrCode != null">
                wechat_qr_code,
            </if>
            <if test="qqQrCode != null">
                qq_qr_code,
            </if>
            <if test="pageStyle != null">
                page_style,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="wechatNumber != null">
                #{wechatNumber,jdbcType=VARCHAR},
            </if>
            <if test="qqNumber != null">
                #{qqNumber,jdbcType=VARCHAR},
            </if>
            <if test="headSculpture != null">
                #{headSculpture,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null">
                #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="companyFax != null">
                #{companyFax,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyJobName != null">
                #{companyJobName,jdbcType=VARCHAR},
            </if>
            <if test="companyInternetAddress != null">
                #{companyInternetAddress,jdbcType=VARCHAR},
            </if>
            <if test="bgsound != null">
                #{bgsound,jdbcType=VARCHAR},
            </if>
            <if test="companyBusiness != null">
                #{companyBusiness,jdbcType=VARCHAR},
            </if>
            <if test="companySupply != null">
                #{companySupply,jdbcType=VARCHAR},
            </if>
            <if test="companyDemand != null">
                #{companyDemand,jdbcType=VARCHAR},
            </if>
            <if test="companyMapPlace != null">
                #{companyMapPlace,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankUserName != null">
                #{bankUserName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                #{accountStatus,jdbcType=VARCHAR},
            </if>
            <if test="wechatQrCode != null">
                #{wechatQrCode,jdbcType=LONGVARBINARY},
            </if>
            <if test="qqQrCode != null">
                #{qqQrCode,jdbcType=LONGVARBINARY},
            </if>
            <if test="pageStyle != null">
                #{pageStyle,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.card.zh.entity.UserInfo">
        update user_info
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="wechatNumber != null">
                wechat_number = #{wechatNumber,jdbcType=VARCHAR},
            </if>
            <if test="qqNumber != null">
                qq_number = #{qqNumber,jdbcType=VARCHAR},
            </if>
            <if test="headSculpture != null">
                head_sculpture = #{headSculpture,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null">
                company_phone = #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="companyFax != null">
                company_fax = #{companyFax,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyJobName != null">
                company_job_name = #{companyJobName,jdbcType=VARCHAR},
            </if>
            <if test="companyInternetAddress != null">
                company_internet_address = #{companyInternetAddress,jdbcType=VARCHAR},
            </if>
            <if test="bgsound != null">
                bgsound = #{bgsound,jdbcType=VARCHAR},
            </if>
            <if test="companyBusiness != null">
                company_business = #{companyBusiness,jdbcType=VARCHAR},
            </if>
            <if test="companySupply != null">
                company_supply = #{companySupply,jdbcType=VARCHAR},
            </if>
            <if test="companyDemand != null">
                company_demand = #{companyDemand,jdbcType=VARCHAR},
            </if>
            <if test="companyMapPlace != null">
                company_map_place = #{companyMapPlace,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankUserName != null">
                bank_user_name = #{bankUserName,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus,jdbcType=VARCHAR},
            </if>
            <if test="wechatQrCode != null">
                wechat_qr_code = #{wechatQrCode,jdbcType=LONGVARBINARY},
            </if>
            <if test="qqQrCode != null">
                qq_qr_code = #{qqQrCode,jdbcType=LONGVARBINARY},
            </if>
            <if test="pageStyle != null">
                page_style = #{pageStyle,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>