<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.zh.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.card.zh.entity.UserInfo">
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="wechat_number" property="wechatNumber" jdbcType="VARCHAR"/>
        <result column="qq_number" property="qqNumber" jdbcType="VARCHAR"/>
        <result column="head_sculpture" property="headSculpture" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_phone" property="companyPhone" jdbcType="VARCHAR"/>
        <result column="company_fax" property="companyFax" jdbcType="VARCHAR"/>
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR"/>
        <result column="company_job_name" property="companyJobName" jdbcType="VARCHAR"/>
        <result column="company_internet_address" property="companyInternetAddress" jdbcType="VARCHAR"/>
        <result column="bgsound" property="bgsound" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="company_business" property="companyBusiness" jdbcType="VARCHAR"/>
        <result column="company_supply" property="companySupply" jdbcType="VARCHAR"/>
        <result column="company_demand" property="companyDemand" jdbcType="VARCHAR"/>
        <result column="company_map_place" property="companyMapPlace" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bank_user_name" property="bankUserName" jdbcType="VARCHAR"/>
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR"/>
        <result column="wechat_qr_code" property="wechatQrCode" jdbcType="VARCHAR"/>
        <result column="qq_qr_code" property="qqQrCode" jdbcType="VARCHAR"/>
        <result column="page_style" property="pageStyle" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, nick_name, sex, phone, email, password, wechat_number, qq_number,
    head_sculpture, company_name, company_phone, company_fax, company_address, company_job_name,
    company_internet_address, bgsound, content, company_business, company_supply, company_demand,
    company_map_place, bank_name, bank_user_name, bank_account, account_status, page_style,qq_qr_code, wechat_qr_code
  </sql>

    <select id="getUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
    </select>

    <select id="selectByParams" parameterType="com.card.zh.entity.UserInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="nickName != null">
                and nick_name = #{nickName,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="wechatNumber != null">
                and wechat_number = #{wechatNumber,jdbcType=VARCHAR}
            </if>
            <if test="wechatQrCode != null">
                and wechat_qr_code = #{wechatQrCode,jdbcType=VARCHAR}
            </if>
            <if test="qqNumber != null">
                and qq_number = #{qqNumber,jdbcType=VARCHAR}
            </if>
            <if test="qqQrCode != null">
                and qq_qr_code = #{qqQrCode,jdbcType=VARCHAR}
            </if>
            <if test="headSculpture != null">
                and head_sculpture = #{headSculpture,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null">
                and company_name = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="companyPhone != null">
                and company_phone = #{companyPhone,jdbcType=VARCHAR}
            </if>
            <if test="companyFax != null">
                and company_fax = #{companyFax,jdbcType=VARCHAR}
            </if>
            <if test="companyAddress != null">
                and company_address = #{companyAddress,jdbcType=VARCHAR}
            </if>
            <if test="companyJobName != null">
                and company_job_name = #{companyJobName,jdbcType=VARCHAR}
            </if>
            <if test="companyInternetAddress != null">
                and company_internet_address = #{companyInternetAddress,jdbcType=VARCHAR}
            </if>
            <if test="bgsound != null">
                and bgsound = #{bgsound,jdbcType=VARCHAR}
            </if>
            <if test="content != null">
                and content = #{content,jdbcType=VARCHAR}
            </if>
            <if test="companyBusiness != null">
                and company_business = #{companyBusiness,jdbcType=VARCHAR}
            </if>
            <if test="companySupply != null">
                and company_supply = #{companySupply,jdbcType=VARCHAR}
            </if>
            <if test="companyDemand != null">
                and company_demand = #{companyDemand,jdbcType=VARCHAR}
            </if>
            <if test="companyMapPlace != null">
                and company_map_place = #{companyMapPlace,jdbcType=VARCHAR}
            </if>
            <if test="bankName != null">
                and bank_name = #{bankName,jdbcType=VARCHAR}
            </if>
            <if test="bankUserName != null">
                and bank_user_name = #{bankUserName,jdbcType=VARCHAR}
            </if>
            <if test="bankAccount != null">
                and bank_account = #{bankAccount,jdbcType=VARCHAR}
            </if>
            <if test="accountStatus != null">
                and account_status = #{accountStatus,jdbcType=VARCHAR}
            </if>
            <if test="pageStyle != null">
                and page_style = #{pageStyle,jdbcType=VARCHAR}
            </if>
        </where>

    </select>

</mapper>