<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.card.zh.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.card.zh.entity.UserInfo">
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="wechat_number" property="wechatNumber" jdbcType="VARCHAR"/>
        <result column="qq_number" property="qqNumber" jdbcType="VARCHAR"/>
        <result column="head_sculpture" property="headSculpture" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_phone" property="companyPhone" jdbcType="VARCHAR"/>
        <result column="company_fax" property="companyFax" jdbcType="VARCHAR"/>
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR"/>
        <result column="company_job_name" property="companyJobName" jdbcType="VARCHAR"/>
        <result column="company_internet_address" property="companyInternetAddress" jdbcType="VARCHAR"/>
        <result column="bgsound" property="bgsound" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="company_business" property="companyBusiness" jdbcType="VARCHAR"/>
        <result column="company_supply" property="companySupply" jdbcType="VARCHAR"/>
        <result column="company_demand" property="companyDemand" jdbcType="VARCHAR"/>
        <result column="company_map_place" property="companyMapPlace" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bank_user_name" property="bankUserName" jdbcType="VARCHAR"/>
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="account_status" property="accountStatus" jdbcType="VARCHAR"/>
        <result column="wechat_qr_code" property="wechatQrCode" jdbcType="VARCHAR"/>
        <result column="qq_qr_code" property="qqQrCode" jdbcType="VARCHAR"/>
        <result column="page_style" property="pageStyle" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, nick_name, sex, phone, email, password, wechat_number, qq_number,
    head_sculpture, company_name, company_phone, company_fax, company_address, company_job_name,
    company_internet_address, bgsound, content, company_business, company_supply, company_demand,
    company_map_place, bank_name, bank_user_name, bank_account, account_status, page_style,qq_qr_code, wechat_qr_code
  </sql>

    <select id="getUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
    </select>

</mapper>